# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# Local env files
.env
.env.local
.env.*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store

# Logs
*.log

# TypeScript
*.tsbuildinfo

# Generated
src/routeTree.gen.ts
